In [4]:
import pandas as pd

df = pd.read_csv("/Users/ruitao/credit_risk_analysis/data/raw/application_train.csv")
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [4]:
df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [8]:
df.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.memory_usage().sum()

np.int64(300130868)

In [7]:
df.value_counts()

SK_ID_CURR  TARGET  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  NAME_TYPE_SUITE  NAME_INCOME_TYPE      NAME_EDUCATION_TYPE            NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  OCCUPATION_TYPE        CNT_FAM_MEMBERS  REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START  REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  ORGANIZATION_TYPE       EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3  APARTMENTS_AVG  BASEMENTAREA_AVG  YEARS_BEGINEXPLUATATION_AVG  YEARS_BUILD_AVG  COMMONAREA_AVG  ELEVATORS_AVG  ENTRANCES_AVG  FLOORSMAX_AVG  FLOORSMIN_AVG  LANDAREA_AVG  LIVINGAPARTMENTS_AVG  LIVINGAREA_AVG  NONLIVINGAPARTMENTS_AVG  NONLIVINGAREA_AVG  APARTMENTS_MODE  BASEMENTAREA_MODE  YEARS_BEGINEXPLUATATION_MODE  YEARS_BUILD_MODE  COMMONAREA_MODE  ELEVATORS_MODE  ENTRANCES_MODE  FLOORSMAX_MODE  FLOORSMIN_MODE  LANDAREA_MODE  LIVINGAPARTMENTS_MODE  LIVINGAREA_MODE  NONLIVINGAPARTMENTS_MODE  NONLIVINGAREA_MODE  APARTMENTS_MEDI  BASEMENTAREA_MEDI  YEARS_BEGINEXPLUATATION_MEDI  YEARS_BUILD_MEDI  COMMONAREA_MEDI  ELEVATORS_MEDI  ENTRANCES_MEDI  FLOORSMAX_MEDI  FLOORSMIN_MEDI  LANDAREA_MEDI  LIVINGAPARTMENTS_MEDI  LIVINGAREA_MEDI  NONLIVINGAPARTMENTS_MEDI  NONLIVINGAREA_MEDI  FONDKAPREMONT_MODE     HOUSETYPE_MODE  TOTALAREA_MODE  WALLSMATERIAL_MODE  EMERGENCYSTATE_MODE  OBS_30_CNT_SOCIAL_CIRCLE  DEF_30_CNT_SOCIAL_CIRCLE  OBS_60_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  DAYS_LAST_PHONE_CHANGE  FLAG_DOCUMENT_2  FLAG_DOCUMENT_3  FLAG_DOCUMENT_4  FLAG_DOCUMENT_5  FLAG_DOCUMENT_6  FLAG_DOCUMENT_7  FLAG_DOCUMENT_8  FLAG_DOCUMENT_9  FLAG_DOCUMENT_10  FLAG_DOCUMENT_11  FLAG_DOCUMENT_12  FLAG_DOCUMENT_13  FLAG_DOCUMENT_14  FLAG_DOCUMENT_15  FLAG_DOCUMENT_16  FLAG_DOCUMENT_17  FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
100083      0       Cash loans          M            Y             Y                0             103500.0          573628.5    24435.0      463500.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.009657                    -15406      -892           -341.0             -4176            22.0         1           1               0                1                 0           0           Laborers               2.0              2                     2                            MONDAY                      18                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.270766      0.707126      0.597192      0.1464          0.1291            0.9861                       0.8096           0.1080          0.040          0.0345         0.3333         0.3750         0.0000        0.1194                0.0933          0.0000                   0.0000             0.1492           0.1340             0.9861                        0.8171            0.1090           0.0403          0.0345          0.3333          0.3750          0.0000         0.1304                 0.0972           0.0000                    0.0000              0.1478           0.1291             0.9861                        0.8121            0.1087           0.04            0.0345          0.3333          0.3750          0.0000         0.1214                 0.0949           0.0000                    0.0000              reg oper account       block of flats  0.1324          Stone, brick        No                   2.0                       1.0                       2.0                       1.0                       -2053.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        3.0                           1
338907      0       Cash loans          F            Y             Y                2             112500.0          315000.0    21181.5      315000.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.015221                    -14714      -2655          -1496.0            -735             7.0          1           1               0                1                 0           0           Medicine staff         4.0              2                     2                            MONDAY                      9                        0                           0                           0                            0                       0                       0                        Medicine                0.376188      0.758812      0.513694      0.0165          0.0000            0.9767                       0.6804           0.0015          0.000          0.0690         0.0417         0.0833         0.0226        0.0134                0.0141          0.0000                   0.0000             0.0168           0.0000             0.9767                        0.6929            0.0016           0.0000          0.0690          0.0417          0.0833          0.0231         0.0147                 0.0147           0.0000                    0.0000              0.0167           0.0000             0.9767                        0.6847            0.0015           0.00            0.0690          0.0417          0.0833          0.0230         0.0137                 0.0144           0.0000                    0.0000              reg oper account       block of flats  0.0111          Stone, brick        No                   0.0                       0.0                       0.0                       0.0                       -1669.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        2.0                           1
339703      0       Cash loans          M            Y             N                0             270000.0          1507869.0   49135.5      1377000.0        Unaccompanied    Working               Higher education               Single / not married  House / apartment  0.008474                    -15022      -7547          -3408.0            -2365            3.0          1           1               0                1                 1           0           High skill tech staff  1.0              2                     2                            TUESDAY                     11                       0                           0                           0                            0                       0                       0                        Industry: type 5        0.621705      0.460178      0.283712      0.0768          0.0321            0.9916                       0.8776           0.0286          0.030          0.1207         0.2292         0.2917         0.0374        0.0779                0.0807          0.0000                   0.0000             0.0210           0.0000             0.9866                        0.8236            0.0134           0.0000          0.0345          0.1667          0.2083          0.0000         0.0698                 0.0215           0.0000                    0.0000              0.0822           0.0320             0.9906                        0.8457            0.0194           0.00            0.1207          0.1875          0.2500          0.0351         0.0701                 0.0858           0.0000                    0.0000              reg oper account       block of flats  0.0220          Panel               No                   4.0                       0.0                       4.0                       0.0                       -702.0                  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 1                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        2.0                           1
339654      0       Cash loans          M            Y             Y                1             306000.0          454500.0    46570.5      454500.0         Unaccompanied    State servant         Higher education               Single / not married  House / apartment  0.014464                    -12149      -4290          -752.0             -4700            16.0         1           1               1                1                 0           0           Laborers               2.0              2                     2                            FRIDAY                      2                        0                           0                           0                            0                       0                       0                        Transport: type 4       0.318788      0.695210      0.253963      0.0825          0.0796            0.9786                       0.7076           0.1012          0.000          0.1379         0.1667         0.2083         0.0590        0.0672                0.0703          0.0000                   0.0000             0.0840           0.0826             0.9786                        0.7190            0.1021           0.0000          0.1379          0.1667          0.2083          0.0603         0.0735                 0.0733           0.0000                    0.0000              0.0833           0.0796             0.9786                        0.7115            0.1018           0.00            0.1379          0.1667          0.2083          0.0600         0.0684                 0.0716           0.0000                    0.0000              reg oper account       block of flats  0.0553          Panel               No                   0.0                       0.0                       0.0                       0.0                       -900.0                  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        0.0                           1
339582      0       Cash loans          F            Y             Y                0             225000.0          1223010.0   48631.5      1125000.0        Unaccompanied    Commercial associate  Secondary / secondary special  Married               House / apartment  0.025164                    -18562      -2180          -6366.0            -2097            6.0          1           1               0                1                 0           0           Cooking staff          2.0              2                     2                            SATURDAY                    11                       0                           0                           0                            0                       0                       0                        Business Entity Type 3  0.400783      0.428041      0.492060      0.2876          0.1062            0.9866                       0.8164           0.0924          0.280          0.2414         0.3750         0.4167         0.0450        0.2328                0.2454          0.0077                   0.1477             0.2931           0.1102             0.9866                        0.8236            0.0933           0.2820          0.2414          0.3750          0.4167          0.0460         0.2544                 0.2557           0.0078                    0.1563              0.2904           0.1062             0.9866                        0.8189            0.0930           0.28            0.2414          0.3750          0.4167          0.0458         0.2369                 0.2498           0.0078                    0.1508              reg oper spec account  block of flats  0.2756          Panel               No                   0.0                       0.0                       0.0                       0.0                       -1961.0                 0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        0.0                        0.0                           1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
218469      0       Cash loans          M            Y             N                0             166500.0          509400.0    40374.0      450000.0         Unaccompanied    Working               Secondary / secondary special  Married               House / apartment  0.046220                    -13494      -595           -1068.0            -4264            8.0          1           1               0                1                 0           0           Laborers               2.0              1                     1                            FRIDAY                      14                       0                           1                           1                            0                       1                       1                        Business Entity Type 2  0.144413      0.714096      0.336062      0.1124          0.0733            0.9836                       0.8912           0.0751          0.080          0.1034         0.3958         0.6667         0.0589        0.0874                0.0680          0.0193                   0.0111             0.0935           0.0639             0.9752                        0.8955            0.0707           0.0000          0.0690          0.1667          0.6667          0.0166         0.0735                 0.0486           0.0039                    0.0041              0.1135           0.0733             0.9836                        0.8927            0.0756           0.08            0.1034          0.3958          0.6667          0.0599         0.0889                 0.0692           0.0194                    0.0113              reg oper account       block of flats  0.0647          Stone, brick        No                   0.0                       0.0                       0.0                       0.0                       -890.0                  0                1                0                0                0                0                0                0                0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0                 0.0                         0.0                        0.0                         0.0                        1.0                        2.0                           1